

.the_des_sec,
.dex_img {
  display: none;
}

.bold_blue {
  font-weight: 600;
  color: var(--prymary-bg-clr);
}

.section_one {
  background-color: var(--prymary-bg-clr);
  color: var(--clr-white);
  width: 100%;
}

.quote_section {
  font-size: 2rem;
}

.text_center {
  text-align: center;
}
p {
  margin: 0;
  padding: 0;
}

.sec_one {
  text-align: center;
  margin: 0 1rem 0 1rem;
  font-size: 1rem;
  padding-top: 2rem;
}

.Hsection1_row_1 {
  padding-top: 2rem;
}

.Hsection1_row_1 > p {
  text-align: center;
}
.Hsection1_vidoe_div,
.Hsection1_bord2_img {
  width: 90%;
  margin: auto;
  display: block;
}

.Hsection1_ {
  /* background-color: hsl(209, 61%, 16%); */
  background-color: rgba(0, 0, 0, 0.29);
  padding: 1rem 0;
}

.Hsection1_count_down {
  display: flex;
  justify-content: center;
  gap: 0.6rem;
  text-align: center;
}
.Hsection1_count_down_flex_item > div {
  background-color: transparent;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  color: white;
  font-size: 2rem;
  padding-left: 0rem;
  margin-top: 1rem;
  border: 3px solid white;
  text-align: center;
}

.Hsection1_div > p {
  text-align: center;
  font-size: 1.3rem;
}

.Hsection1_div_p1{
  padding: 0 1px;
}
.Hsection1_P {
  font-weight: bolder;
}

.btn_live {
  background-color: var(--btn-clr);
  color: var(--clr-white);
  margin: 1rem 0.4rem 0 0.4rem;

}
.btn_live_p1 {
  font-size: 1.3em;
  font-weight: bolder;
}

.btn_live_p2 {
  font-size: 0.7em;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .btn_live {
    margin-left: 0rem;
  }
  .btn_live_p1 {
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Hsection1_div > p {
    font-size: 1rem;
    padding: 0 1rem;
  }
  .Hsection1_ {
    margin-top: 1rem;
    padding-top: 1rem;
  }
  .Hsection1_div_p1 {
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .Hsection1_bord2_img {
    width: 30rem;
  }

  .Hsection1_ {
    margin-left: -1rem;
    margin-bottom: 1rem;
  }
  .btn_live {
    color: white;
    /* margin-left: 0rem; */
    margin: 0 1rem 0 1rem ;
  }
  .btn_live_p1 {
    font-size: 1.2rem;
  }

  .sec_one {
    font-size: 2.3rem;
    padding: 0 2rem;
    font-weight: 900;
  }

  .Hsection1_row_1 > p {
    padding: 0 1rem;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .the_des_sec,
  .dex_img {
    display: block;
  }
  .sec_Tow,
  .mob_img {
    display: none;
  }

  .dex_img img {
    width: 70%;
    margin: auto;
    display: block;
    padding-top: 2rem;
  }
  .sec_one {
    font-size: 3rem;
    padding: 0 8rem;
  }

  .Hsection1_div > p{
    font-size: 1.3rem;
    margin-top: 1rem;
  }
  .Hsection1_row_1 > p {
    font-size: 2rem;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn_inLAp {
    display: block;
    margin: auto;
    /* width: 60%; */
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;

  }

  .Hsection1_div > p{
    font-size: 2rem;
  }

  .btn_live_p1{
    font-size: 2.5rem;
  }

  .btn_live_p2{
    font-size: 1.2rem;
  }
}



@media (min-width: 1450px) { 
.section_one{
  padding: 0 20%;
}

 }
